{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="{% static 'registration/css/bootstrap-material-design.min.css' %}" rel="stylesheet">
 <link href="{% static 'registration/css/ripples.min.css' %}" rel="stylesheet">
 <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->
 <link rel="stylesheet" type="text/css" href="{% static 'registration/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/bootstrap-datepicker3.min.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{% static 'registration/js/bootstrap-datepicker.min.js' %}"></script>
  <style>
  .form-group label.control-label {
	  font-weight:900;
  }
  h2 {
	  font-size:24px;
	  color:#BDBDBD;
  }
  #after-nav {
	  margin-top:120px;
  }
  </style>
<title>Title</title>
</head>

<body style="background-color:#ECECEC">
{% block body %}
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
       </button>
      <a class="navbar-brand" style="padding-top:5px;" href="../dashboard/"><img src="{% static 'registration/image/logo.png' %}" /></a>
	  <div class="col-sm-8 col-md-10 col-xs-6">
      	<div class="searchbar">
      		<div class="search-icon"> <img src="{% static 'registration/image/search-logo.png' %}" />
        </div>
            <form>
            <input class="large" type="text" id="focusedInput" placeholder="Search for artists, producers, allied services and video categories">
            <input class="small" type="text" id="focusedInput" placeholder="Search">
            </form>
      </div>    
    </div>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar"> 

    <ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
       		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Notifications
			<span class="badge">3</span>
       		<span class="caret"></span></a>
       		<ul class="dropdown-menu">
           		<li><a href="#">Notification 1</a></li>
           		<li><a href="#">Notification 2</a></li>
           		<li><a href="#">Notification 3</a></li> 
       		</ul>
    	</li>
        <li id="avatar-wrapper" class="dropdown-toggle" data-toggle="dropdown"> <a href="#">{{artist.name}} <img class="avatar-icon" src="{% static 'registration/image/user-male.png' %}"/></a></li>
          <ul class="dropdown-menu">
              <li><a href="../logout/">Logout</a></li>
            </ul>
        </ul>
    </div>
</nav>
<div class="container-fluid" id="after-nav">
	<div class="col-sm-2">
    	<ul class="content-nav">
        <li id="profile"> <div class="icon">&#8592;</div> <a href="../dashboard">Back to Profile </a> </li>
        </ul>
    </div>
    <div class="col-sm-8 content" >
            <div class="row">
            <h2 style="text-align:center;">Add Requirements for Project {{p.project_name}}</h2>
           
			
            <form method='POST' action='.' class="form-horizontal">
                {% csrf_token %}
            <strong>
            <fieldset>
            
            <div class="form-group">
      			<label for="select111" class="col-md-2 control-label">Requirement Type</label>
		        <div class="col-md-10">
        			<select id="select111" class="form-control"  name='rreq_type' style="color:#000">
          				<option style="color:#000" value='Artist'>Artist</option>
          				<option style="color:#000" value='Allied Services'>Allied Service</option>
          				<option style="color:#000" value='Producers'>Producers</option>
        			</select>
      			</div>
    		</div>
            <div class="form-group">
            <label for="skills" class="col-md-2 control-label">Skills</label>
            <div class="col-md-10">
              <select id="select333" class="form-control"  name='skills'>
                  <option style="color:#000" value='Actor,Actress'>Actor,Actress</option>
                  <option style="color:#000" value='Script Writer'>Script Writer</option>
                  <option style="color:#000">Lyricist</option>
                  <option style="color:#000">Singer</option>
                  <option style="color:#000">Musician</option>
                        <option style="color:#000">Any Other</option>
              </select>
      			</div>
    		</div>
            <div class="form-group">
            	<label for="cost" class="col-sm-2 control-label">Numbers</label> 	            	<div class="col-sm-10">
                	<input type='text' class="form-control" name='numbers' >
                </div>
            </div>
            <div class="form-group">
            <label for="rolePlayed" class="col-md-2 control-label">Character</label>
            <div class="col-md-10">
              <input type='text' class="form-control" name='character' >
            </div>
        </div>
            
            <div class="form-group">
            	<label for="start" class="col-sm-2 control-label">Role Played</label> 	            	<div class="col-sm-10">
                	<select id="select111" class="form-control"  name='role' style="color:#000">
                  <option style="color:#000" value='Hero'>Hero</option>
                  <option style="color:#000" value='Heroine'>Heroine</option>
                  <option style="color:#000">Villain</option>
                  <option style="color:#000">Supporting</option>
                  <option style="color:#000">Technician</option>
                </select>
                </div>
            </div>
            <div class="form-group">
      			<label for="textArea" class="col-md-2 control-label">Description</label>
		        <div class="col-md-10">
      				<textarea name="desc" id="body" class="form-control" rows="3"></textarea>
                </div>
           </div>
		   <br>
            <button type='submit' class="btn btn-raised btn-primary" name='save_add' style="float:right;margin-right:30px;">Save and add another</button>
                        <button type='submit' class="btn btn-raised btn-primary" name='save_quit' style="float:right;margin-right:30px;">Save and quit</button>

        </form>
        </fieldset>
        </strong>
        </div>
    </div>

        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>
<script src="{% static 'registration/js/ripples.min.js' %}"></script>
<script src="{% static 'registration/js/material.min.js' %}"></script>
<script>
//var cookie = document.cookie;
//console.log(cookie+'null');
$.material.init();
$('input[name=dstart]').datepicker({
    format: "yyyy-mm-dd",
	orientation: "bottom right"
});
$('input[name=dend]').datepicker({
    format: "yyyy-mm-dd",
	orientation: "bottom right"
});

</script>
{% endblock body %}
</body>
</html>
