{% extends "registration/base.html" %}
{% load staticfiles %}
{% block extra_file %}<link rel="stylesheet" type="text/css" href="{% static 'registration/css/form.css' %}" />
{% endblock %}
        {% block logout %}
        {% if user.is_authenticated %}
	           	<a href="#"><img src="{% static 'registration/image/user-male.png'  %}" /></a></li>
	    {% else %}
    	    	<a href="#">Guest<img src="{% static 'registration/image/user-male.png'  %}" /></a></li>
        {% endif %}
        {% endblock %}
{% block content %}
<div class="container-fluid" id="after-nav">
	<div class="col-sm-2">
    	<ul class="content-nav">
        <li id="profile"> <div class="icon">&#8592;</div> <a href="../../addproject">Back to Add Project</a> </li>
        </ul>
    </div>
    <div class="col-sm-8 content" >
            <div class="row">
            <h2 style="text-align:center;">Add Requirements for Project {{p.project_name}}</h2>
           
			
            <form method='POST' action='.' class="form-horizontal">
                {% csrf_token %}
            <strong>
            <fieldset>
            
            <div class="form-group">
      			<label for="select111" class="col-md-2 control-label">Requirement Type</label>
		        <div class="col-md-10">
        			<select id="select111" class="form-control"  name='rreq_type' style="color:#000">
          				<option style="color:#000" value='Artist'>Artist</option>
          				<option style="color:#000" value='Allied Services'>Allied Service</option>
          				<option style="color:#000" value='Producers'>Producers</option>
        			</select>
      			</div>
    		</div>
            <div class="form-group">
            <label for="skills" class="col-md-2 control-label">Skills</label>
            <div class="col-md-10">
              <select id="select333" class="form-control"  name='skills'>
                  <option style="color:#000" value='Actor,Actress'>Actor,Actress</option>
                  <option style="color:#000" value='Director of Photography'>Director of Photography</option>
                  <option style="color:#000" value='TMO'>The Making of</option>
                  <option style="color:#000" value="artist-other">Any Other</option>
              </select>
      			</div>
    		</div>
            <div class="form-group">
            	<label for="cost" class="col-sm-2 control-label">Numbers</label> 	            	<div class="col-sm-10">
                	<input type='number' class="form-control" name='numbers' required >
                </div>
            </div>
            <div class="form-group" id="character-wrapper">
            <label for="rolePlayed" class="col-md-2 control-label">Character</label>
            <div class="col-md-10">
              <input type='text' class="form-control" name='character' required >
            </div>
        </div>
            
            <div class="form-group" id="role-wrapper">
            	<label for="start" class="col-sm-2 control-label">Role</label> 	            	<div class="col-sm-10">
                	<select id="select111" class="form-control"  name='role' style="color:#000">
                  <option style="color:#000" value='Hero'>Hero</option>
                  <option style="color:#000" value='Heroine'>Heroine</option>
                  <option style="color:#000">Villain</option>
                  <option style="color:#000">Supporting</option>
                  <option style="color:#000">Technician</option>
                </select>
                </div>
            </div>
            
       	    <div class="form-group" id="height-wrapper" style="display:none"><label class="col-md-2 control-label">Height (in m)</label><div class="col-sm-10">                	<select id="select111" class="form-control"  name='height' style="color:#000">
                  <option style="color:#000">Below 1.4</option>
                  <option style="color:#000">1.4-1.6</option>
                  <option style="color:#000">1.6-1.8</option>
                  <option style="color:#000">1.8-2</option>
                  <option style="color:#000">Above 2</option>
                </select>
</div> </div>
            <div class="form-group" id="body-wrapper" class="col-md-2 control-label" style="display:none"><label class="col-md-2 control-label">Body Type</label><div class="col-sm-10">        <select id="select111" class="form-control"  name='body_type' style="color:#000">
              <option value='Slim' style="color:#000">Slim</option><option value='Atheletic' style="color:#000">Atheletic</option><option value='Regular' style="color:#000">Regular</option><option value='Over_weight' style="color:#000">Over weight</option></select></div> </div>
			  <div class="form-group" id="ethnicity-wrapper"  style="display:none"><label class="col-md-2 control-label">Ethnicity</label><div class="col-sm-10"><select name="ethnicity" class="form-control" >
                <option value="None" >None</option>
                <option value="Asian" >Asian</option>
                <option value="Black" >Black</option>
                <option value="White" >White</option>
                <option value="Any Other" >Any Other</option>
              </select></div> </div>
              

            <div class="form-group">
      			<label for="textArea" class="col-md-2 control-label">Description</label>
		        <div class="col-md-10">
      				<textarea name="desc" id="body" class="form-control" rows="3" required></textarea>
                </div>
           </div>
		   <br>
            <button type='submit' class="btn btn-raised btn-primary" name='save_add' style="float:right;margin-right:30px;">Save and add another</button>
                        <button type='submit' class="btn btn-raised btn-primary" name='save_quit' style="float:right;margin-right:30px;">Save and quit</button>

        </form>
        </fieldset>
        </strong>
        </div>
    </div>

        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>
<script src="{% static 'registration/js/ripples.min.js' %}"></script>
<script src="{% static 'registration/js/material.min.js' %}"></script>
<script>
//var cookie = document.cookie;
//console.log(cookie+'null');

$.material.init();
$(document).ready(function(e) {
    if($('select[name="rreq_type"] option:selected').val() == 'Artist') {
				   $('#body-wrapper').css('display','block'); 
				   $('#height-wrapper').css('display','block'); 
				   $('#ethnicity-wrapper').css('display','block'); 
	}
});
$('select[name="rreq_type"]').click(function(e) {
    if($('select[name="rreq_type"] option:selected').val() == 'Artist') {
				   $('#body-wrapper').css('display','block'); 
				   $('#height-wrapper').css('display','block'); 
				   $('#ethnicity-wrapper').css('display','block'); 
	}
	else { 		   $('#body-wrapper').css('display','none'); 
				   $('#height-wrapper').css('display','none'); 
				   $('#ethnicity-wrapper').css('display','none'); } 

});
$('select[name="skills"]').click(function(e) {
    if($('select[name="skills"] option:selected').val() == "Director of Photography" || $('select[name="skills"] option:selected').val() == "TMO")
		{  $('#role-wrapper').css('display','none'); $('#character-wrapper label').html('Certification');$('#height-wrapper').css('display','none'); 
		   $('#ethnicity-wrapper').css('display','none'); $('#body-wrapper').css('display','none');  } 
 	if($('select[name="skills"] option:selected').val() == "Camera Equipment")
		{  $('#role-wrapper').css('display','none'); $('#character-wrapper label').html('Inventory'); }
	if($('select[name="skills"] option:selected').val() == "Portfolio Maker")
		{  $('#role-wrapper').css('display','none'); $('#character-wrapper label').html('Certification'); }
   if($('select[name="skills"] option:selected').val() == "Actor,Actress") {  $('#role-wrapper').css('display','block'); $('#character-wrapper label').html('Character');$('#height-wrapper').css('display','block');$('#ethnicity-wrapper').css('display','block'); $('#body-wrapper').css('display','block'); }

});

$('select[name="rreq_type"]').click(function(e) {
	if($('select[name="rreq_type"] option:selected').val() == 'Allied Services') {
		$('select[name="skills"]').empty().append('<option style="color:#000" value="Camera Equipment">Camera Equipment</option><option style="color:#000" value="Portfolio Maker">Portfolio Maker</option>').css('display','block'); }
		
    if($('select[name="rreq_type"] option:selected').val() == 'Artist') {   $('select[name="skills"]').empty().append('<option style="color:#000" value="Actor,Actress">Actor,Actress</option><option style="color:#000" value="Director of Photography">Director of Photography</option><option style="color:#000" value="TMO">The Making of</option><option style="color:#000" value="artist-other">Any Other</option> ').css('display','block');
	}
	if($('select[name="rreq_type"] option:selected').val() == 'Producers') { $('select[name="skills"]').empty().parent().parent('div').css('display','none');$('#role-wrapper').css('display','none'); $('#character-wrapper label').html('Certification'); }
	$( 'select[name="skills"]' ).trigger( "click" );
});

</script>
{% endblock %}
</body>
</html>
