<h2 class="sec" style="margin-bottom:3px;"> Applicants </h2>
<p style="margin-bottom:30px"> {{req.req_type}}&nbsp;&nbsp;&nbsp;&nbsp;{{req.role}}&nbsp;&nbsp;&nbsp;&nbsp;{{req.skills}}</p>
<table class="table table-fixed">
	<tbody>
    	<thead>
        	<th class="col-xs-1">#</th><th class="col-xs-4">Name</th><th class="col-xs-3">Phone</th><th class="col-xs-4">E-mail</th>
        </thead>
	{% if req.req_type == "Artist" %}
		{% for u in artlist %}
		<tr>
        	<td class="col-xs-1">{{ forloop.counter }}</td>
			<td class="col-xs-4"><a href = '../../artist_search/{{u.id}}/'>{{u.name}}</a></td>
			<td class="col-xs-3">{{u.phone}}</td>
            <td class="col-xs-4">{{u.email_id}}</td>
		</tr>
		{% endfor %}
		{% endif %}
	{% if req.req_type == "Allied Service" %}
		{% for u in alllist %}
		<tr>
        	<td class="col-xs-1">{{ forloop.counter }}</td>
			<td class="col-xs-4"><a href = '../../artist_search/{{u.id}}/'>{{u.name}}</a></td>
			<td class="col-xs-3">{{u.phone}}</td>
            <td class="col-xs-4">{{u.email_id}}</td>
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>

