{% extends "registration/base.html" %}
{% load staticfiles %}
{% block extra_file %}{% endblock %}
        {% block logout %}
        {% if user.is_authenticated %}
	           	<a href="#"><img src="{% static 'registration/image/user-male.png'  %}" /></a></li>
	    {% else %}
    	    	<a href="#">Guest<img src="{% static 'registration/image/user-male.png'  %}" /></a></li>
        {% endif %}
        {% endblock %}
{% block content %}
<div class="container-fluid" id="after-nav">
        
        <div class="col-sm-12 main">
        	<div class="sec">
			<h2 style="text-align:center;margin-bottom:20px;font-size:24px;color:#BDBDBD;">Inventory</h2>

			</div>
        </div>
</div>
<script>
$(document).ready(function(e) {
	var str = '{{allied.inventory_list}}'.toString().replace(/&quot;/g,'"');
    var invList = JSON.parse(str);
	console.log(invList);
	for(var i=0; i < invList.length;i++) {
		var url = "'../static/registration/image/" + invList[i].name + ".jpg'";
		$('.sec').append('<div class="card"><ul class="list-group list-group-flush"><li class="list-group-item"><span class="tag right">'+invList[i].number+'</span></li></ul><div class="card-img-top" data-src="..." style="height:225px;background:url('+url+');background-size:cover;" ></div><div class="card-block" style="background: #3487F7;"><h4 class="card-title" style="color:#fff">'+invList[i].name+'<p class="card-text"></p><div class="card-reveal"></div></div></div>');
		
	}
	
});
</script>
{% endblock %}
