{% extends "registration/base.html" %}
{% load staticfiles %}
{% block extra_file %}<style>
.card {
	height:400px;
}
.card-block.last {
	position:relative;
	top:-290px;
}
</style>
{% endblock %}
        {% block logout %}
        {% if user.is_authenticated %}
	           	<a href="#"><img src="{% static 'registration/image/user-male.png'  %}" /></a></li>
	    {% else %}
    	    	<a href="#">Guest<img src="{% static 'registration/image/user-male.png'  %}" /></a></li>
        {% endif %}
        {% endblock %}
{% block content %}
<div class="container-fluid" id="after-nav">
     <div class="col-sm-12 main">
            <h1 style="margin-bottom:20px;font-size:24px;color:#BDBDBD;text-align:center;">{{p.project_name}}</h1><br>
            <!-- <a href='../dashboard/' class='button'>Dashboard </a> -->
			<div class="col-sm-4">
            		<h2 class="sec" style="margin-bottom:3px;">Project Info</h2>
            	    <div class="detail">
            	    	<ul>
            	    		<li class="col-sm-12"><label>Type</label>&nbsp;&nbsp;&nbsp;&nbsp;{{p.project_type}}</li>
        		    		<li class="col-sm-12"><label>Status</label>&nbsp;&nbsp;&nbsp;&nbsp;{{p.project_status}}</li>
           	    			<li class="col-sm-12"><label>Producer(s)</label>&nbsp;&nbsp;&nbsp;&nbsp;{%for k in prod %}{{k.name}},&nbsp;{% endfor %}</li>
            				<li class="col-sm-12"><label>Project Cost</label>&nbsp;&nbsp;&nbsp;&nbsp;{{p.project_cost}}</li> 
            				<li class="col-sm-12"><label>Address</label>&nbsp;&nbsp;&nbsp;&nbsp;{{p.location}}</li>
            				<li class="col-sm-12"><label>Duration</label>&nbsp;&nbsp;&nbsp;&nbsp;{{p.duration_start}}-{{p.duration_end}}</li>
            			   	<li class="col-sm-12"><label>Languages</label>&nbsp;&nbsp;&nbsp;&nbsp;{{p.languages}}</li>
            			   	<li class="col-sm-12"><label>Description</label>&nbsp;&nbsp;&nbsp;&nbsp;{{p.description}}</li>
 	    	      	 	</ul>
					</div>
				</div>  
            <div class="col-sm-8">
                    <h2 class="sec" style="margin-bottom:3px;">Requirements</h2>
            {% for r in requirements %}
           	<div class="card">
               	 <ul class="list-group list-group-flush">
   					 	<li class="list-group-item"><span class="text left" style="font-size:18px">{{r.skills}}</span><span class="tag right" style="min-width:50px">{{r.numbers}}</span></li>
                  </ul>
 				 <div class="card-img-top" data-src="..." style="height:225px;" ></div>
 					 <div class="card-block desc rippler rippler-inverse">
                      	  <h4 class="card-title">{{r.req_type}}<span class="tag right">{{r.role}}</span></h4>
   						  <p class="card-text">{{r.character}}</p>
                          <div class="card-reveal"><span class="label right">Description</span>{{r.description}}</div>
                     </div>
                     <div class="card-block last">
                     	<a target="_blank" class="card-link"></a>
                        {% if choice = 'myproj' %}
                        <a target="_blank"  class="card-link btn btn-primary" onClick= "getApplicants({{r.id}})">See Applicants</a>
                        {% elif user.is_authenticated %}
                    
                            <a href="../../../apply/{{r.id}}/" class="card-link btn btn-primary">Apply</a>   
                        {% else %}
                        <a href="../../home/" class="card-link btn btn-primary">Login to apply</a>
                        {% endif %}
                       
                     
                     </div>
                
                              
           </div>
        {% endfor %}                
 <br><br>
{% if choice == 1 %}
 <h3 color='green' align = 'center'>You have applied for {{req.req_type}}, {{p.project_name}}</h3>
{% elif choice == 2 %}
 <h3 color='red' align = 'center'>{{error}}</h3>
{% endif %}
    </div>
    

</div>
</div>
<div class="col-sm-12 exp main applicants" style="min-height:0px;opacity:0;transition:all 0.5s ease-in-out;"><div class="col-sm-12 sec exp"></div></div>
<script src="{% static 'registration/js/ripples.min.js' %}"></script>
<script src="{% static 'registration/js/material.min.js' %}"></script>
<script>
//var cookie = document.cookie;
//console.log(cookie+'null');
$.material.init();
$('.card-block.desc').click(function() {
	if ($(this).css('top') == '0px')
    	$(this).css('top','-285px');
	else $(this).css('top','0px');
});
function getApplicants(id)
{				$.ajax({
				url: "../../../my-projects-requirements/" + id,
  				method : "GET"
			    }).done(function( html ) {
					$('.main.applicants').css('opacity',1);
	   				$( ".main.applicants" ).html(html);
 			}); 
			settimeout($('html, body').animate({
        scrollTop: $('.main').offset().top + 90
    }, 500),1000);
}
</script>
{% endblock %}