{% load i18n admin_modify adminmedia %}
{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/base.css" />
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/widgets.css" />
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
{{ form.media }}
{% endblock %}
{% extends 'registration/base.html' %}
{% block title %}
    FutureArtist | Register
{% endblock title %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="twelve columns textcenter">
        <h1>Register for FutureArtist</h1>

        {% if registered %}
        <strong>Thank you for registering!</strong><br>
        Please check your email for further instructions <br>
        <a href="../login/"><button>Back Home</button></a><br>        
        {% else %}
        <form id="user_form" method="POST" enctype="multipart/form-data" onsubmit="submitfake.value='Registering... Please Wait'; submitfake.disabled=true;">
            <p>All fields are mandatory</p>

            {% csrf_token %}
            {{ user_form.as_table }}
            {{ artist_form.as_table }}
            <br>
            <input type="hidden" name="submit" value="Register">

            <input class="button button-primary" type="submit" name="submitfake" value="Register"/>
            </div>
        </form>
        {% endif %}            
        </div>
    </div>
</div>

{% endblock body %}