{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link href="{% static 'registration_old/css/skeleton.css' %}" rel="stylesheet">
   <link href="{% static 'registration/css/bootstrap-material-design.min.css' %}" rel="stylesheet">
 <link href="{% static 'registration/css/ripples.min.css' %}" rel="stylesheet">
 <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->
 <link rel="stylesheet" type="text/css" href="{% static 'registration/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/profile.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .form-group label.control-label {
	  font-weight:900;
  }
  </style>
<title>Title</title>
</head>

<body style="background-color:#ECECEC">
{% block body %}
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
       </button>
      <a class="navbar-brand" style="padding-top:5px;" href="#"><img src="{% static 'registration/image/logo.png' %}" /></a>
	  <div class="col-sm-8 col-md-10 col-xs-6">
      	<div class="searchbar">
      		<div class="search-icon"> <img src="{% static 'registration/image/search-logo.png' %}" />
        </div>
            <form>
            <input class="large" type="text" id="focusedInput" placeholder="Search for artists, producers, allied services and video categories">
            <input class="small" type="text" id="focusedInput" placeholder="Search">
            </form>
      </div>    
    </div>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar"> 

    <ul class="nav navbar-nav navbar-right">
		
    </ul>
    </div>
</nav>
<div class="container-fluid" id="after-nav">
	<div class="col-sm-3">
    	<ul class="content-nav">
       
        </ul>
    </div>
    <div class="col-sm-8 content" >
        <div class="row">
        <div class="twelve columns textcenter">
        <h1>Register for FutureArtist</h1>

        {% if registered %}
        <strong>Thank you for registering!</strong><br>
        Please check your email for further instructions <br>
        <a href="../home/"><button>Back Home</button></a><br>        
        {% else %}
        <form id="user_form" method="POST" action='../register_profile/' enctype="multipart/form-data" onsubmit="submitfake.value='Registering... Please Wait'; submitfake.disabled=true;">
            <p>All fields are mandatory</p>

            {% csrf_token %}
            {% if choice == '1' %}            
            {{ a_form.as_table }}
            <input type="hidden" name='choice' value='1'>
            
            {% elif choice == '2' %}            
            {{ a_form.as_table }}
            <input type="hidden" name='choice' value='2'>

            {% elif choice == '3' %}            
            {{ a_form.as_table }}
            <input type="hidden" name='choice' value='3'>

            {% endif %}

            <br>
            <input type="hidden" name="submit" value="Register">

            <input class="btn btn-raised btn-primary" type="submit" name="submitfake" value="Register" style="float:right;margin-right:30px;"/>
            </div>
        </form>
        {% endif %}            
        </div>
    </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>
<script src="{% static 'registration/js/ripples.min.js' %}"></script>
<script src="{% static 'registration/js/material.min.js' %}"></script>
<script>
//var cookie = document.cookie;
//console.log(cookie+'null');
$.material.init();
</script>
{% endblock body %}
</body>
</html>
