{% extends "registration/base.html" %}
{% load staticfiles %}
{% block extra_file %}
  <style>
  .row h2 {
	  font-size:24px;
	  color:#BDBDBD;
  }
  #after-nav {
	  margin-top:120px;
  }
  label.control-label {
	  padding:0;
  }
  input[name="name"] {
	  position: relative;
    top: 32px;
  }
  </style>
<link href="{% static 'registration/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
<script src="{% static 'registration/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid" id="after-nav">
	<div class="col-sm-2">
    	<ul class="content-nav">
  		<li id="profile"> <div class="icon">&#8592;</div> <a href="../dashboard">Back to Profile</a> </li>
        </ul>
        
    </div>
    <div class="col-sm-8 content" >
            <div class="row">
            <h2 style="align:center">Update Profile</h2>
           

            <form id='profile_update'>
                {% csrf_token %}
            <fieldset>
            	 <ul>
              <li class="form-group col-sm-8">
               	<input type='text' class="form-control col-sm-12" name='name' value='{{prod.name}}' placeholder="Name" required>
              </li>
              <li class="col-sm-4">{% if prod.profile_pic %}<img src={{prod.profile_pic.url}} width="150px"/>{% else %}
                <img src="{% static 'registration/image/user-male-big.png'  %}" width="150px"/> {% endif %}</li>
              <li class="col-sm-8"></li>
              <li class="form-group col-sm-4">
      			 <div class="col-md-12">
        			<input type="text" readonly class="form-control" placeholder="Display Picture...">
      				<input type="file" id="dp" value="">
        	  </li> 
              <li class="col-sm-4 form-group"><label class="control-label">Phone*</label><span><input type='number' name='phone' class="form-control" value='{{prod.phone}}' max="9999999999"="10" required></span> </li> 
            	 <li class="col-sm-4 form-group"><label class="control-label">Location*</label><span>
                 <select name="location" class="form-control" >
                 <option value="none">None</option>
                 {% for l in loc %}
                <option value="{{l.0}}" >{{l.0}}</option>
                 {% endfor %}
              </select> </span> 
              </li>
                <li class="col-sm-12 form-group"><label class="control-label col-sm-2">Address</label><div class="col-md-10"><textarea name='address'  rows="3" class="form-control" required>{{prod.address}}</textarea></div> </li>
              <li class="col-sm-12 form-group"><label class="control-label col-sm-2">About us</label><div class="col-md-10">
                <textarea name='about'  rows="3" class="form-control" required>{{prod.aboutus}}</textarea></div> </li>
                
    	    </ul>
            <br>
            <button type='submit' class='btn btn-raised btn-primary' style="float:right;margin-right:30px;" name='save'>Add</button>
        </form>

        </div>
        </div>

        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>
<script src="{% static 'registration/js/ripples.min.js' %}"></script>
<script src="{% static 'registration/js/material.min.js' %}"></script>
<script>
//var cookie = document.cookie;
//console.log(cookie+'null');
$.material.init();

  var prof_flag=0
  $("input#dp").on('change', function(e) {
        dp = e.target.files;
        prof_flag=1;
    });
  function collect_data() {
        var data = new FormData() ;
        data.append('name', $('input[name="name"]').val());
        data.append('phone', $('input[name="phone"]').val());
        data.append('about', $('textarea[name="about"]').val());
        data.append('location', $('select[name="location"] option:selected').val());
        data.append('address', $('textarea[name="address"]').val());
        if(prof_flag==1){
          $.each(dp, function(key, value)
                {
                    data.append(key, value);
                });
        }
        return data;
    }
    $("form#profile_update").submit(function(e) {
        e.preventDefault();
        var dat = collect_data();
    if($('select[name="location"] option:selected').val() == "none") {
	//	console.log('1');
        $('select[name="location"]').parent().parent('li').addClass('has-error'); }
    else {
        $.ajax({
            url: '../updateprofile/',
            type: 'POST',
            data: dat,
            cache: false,
            // dataType: 'html',
            processData: false,
            contentType: false,

            success: function(data)
            {
                if(data=='done')
                  window.location.href="../dashboard";
            }
        }); }
        
    });
		$(document).ready(function() {
		var	loc_val = '{{prod.location}}';
			
		$('select[name="location"] option[value="'+loc_val+'"]').attr('selected','selected');
	});

</script>
{% endblock %}
</body>
</html>
