{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link href="{% static 'registration/css/bootstrap-material-design.min.css' %}" rel="stylesheet">
 <link href="{% static 'registration/css/ripples.min.css' %}" rel="stylesheet">
 <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->
 <link rel="stylesheet" type="text/css" href="{% static 'registration/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/profile.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
  .row h2 {
	  font-size:24px;
	  color:#BDBDBD;
  }
  #after-nav {
	  margin-top:120px;
  }
  </style>

<title>Title</title>
</head>

<body style="background-color:#ECECEC">
{% block body %}
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
       </button>
      <a class="navbar-brand" style="padding-top:5px;" href="../dashboard/"><img src="{% static 'registration/image/logo.png' %}" /></a>
	  <div class="col-sm-8 col-md-10 col-xs-6">
      	<div class="searchbar">
      		<div class="search-icon"> <img src="{% static 'registration/image/search-logo.png' %}" />
        </div>
            <form>
            <input class="large" type="text" id="focusedInput" placeholder="Search for artists, producers, allied services and video categories">
            <input class="small" type="text" id="focusedInput" placeholder="Search">
            </form>
      </div>    
    </div>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar"> 

    <ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
       		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Notifications
			<span class="badge">3</span>
       		<span class="caret"></span></a>
       		<ul class="dropdown-menu">
           		{% for m in msg %}
           		<li><a href="https://{{m.url}}">{{m.message}}</a></li>
              {% endfor %} 
       		</ul>
    	</li>
        <li id="avatar-wrapper" class="dropdown-toggle" data-toggle="dropdown"> <a href="#">{{prod.name}} <img class="avatar-icon" src="{% static 'registration/image/user-male.png' %}"/></a></li>
          <ul class="dropdown-menu">
              <li><a href="../logout/">Logout</a></li>
            </ul>
    </ul>
    </div>
</nav>
<div class="container-fluid" id="after-nav">
	<div class="col-sm-2">
    	<ul class="content-nav">
  		<li id="profile"> <div class="icon">&#8592;</div> <a href="../dashboard">Back to Profile</a> </li>
        </ul>
        
    </div>
    <div class="col-sm-8 content" >
            <div class="row">
            <h2 style="align:center">Update Profile</h2>
           

            <form method='POST' action='../updateprofile/'>
                {% csrf_token %}
            <fieldset>
              <div class="form-group col-sm-8">
             	<input type='text' class="form-control col-sm-12" name='name' value='{{prod.name}}' placeholder="Name">
             </div>
             <ul>  
                <li class="col-sm-3"><img src="{% static 'registration/image/user-male-big.png'  %}" style="width:188px;float:right"/></li>
    	        <li class="col-sm-3"><label>Phone</label><span><input type='number' name='phone' class="form-control" value='{{allied.phone}}'></span> </li> 
            	<li class="col-sm-3"><label>location</label><select name="location" class="form-control" ><span>  <div class="col-md-10">
                 {% for l in loc %}
                <option value="{{l.0}}" >{{l.0}}</option>
                 {% endfor %}
              </select></div></span>   </li>
                            <li class="col-sm-12"><label>About us</label><span><textarea name="aboutus" id="body" class="form-control" rows="3"></textarea></span> </li>  
			</ul>
            <br>
            <button type='submit' class='btn btn-raised btn-primary' style="float:right;margin-right:30px;" name='save'>Add</button>
        </form>

        </div>
        </div>

        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>
<script src="{% static 'registration/js/ripples.min.js' %}"></script>
<script src="{% static 'registration/js/material.min.js' %}"></script>
<script>
//var cookie = document.cookie;
//console.log(cookie+'null');
$.material.init();
</script>
{% endblock body %}
</body>
</html>
